@{
    Layout="Shared/_Layout.cshtml";
}

<h2>@Model["Author"].GetName()</h2>
@if(Model["Author"].GetBooks().Count != 0)
{
    <h5>Books by @Model["Author"].GetName():</h5>
    foreach(var book in Model["Author"].GetBooks())
    {
        <h4><a href="/book/@book.GetId()">@book.GetName()</a></h4>
        <hr/>
    }
}
else
{
    <p>There are no books associated with this author yet</p>
}


<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header">Add a book</div>
        <div class="collapsible-body">

            <div class="input-field">
                <form class="" action="/author/@Model["Author"].GetId()" method="post">
                    <select name="book-id">
                        <option value="" disabled selected>Select book</option>
                        @foreach(var book in Model["Books"])
                        {
                            <option value="@book.GetId()">@book.GetName()</option>
                        }
                    </select>
                    <button class="btn" type="submit" name="button">Add Book</button>
                </form>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header">Update Author</div>
        <div class="collapsible-body">
            <div class="update-author">
                <form class="" action="/author/@Model["Author"].GetId()" method="post">
                    <input type="hidden" name="_method" value="PATCH">
                    <input type="text" name="new-name" value="@Model["Author"].GetName()">
                    <button class="btn" type="submit" name="button">Update Author</button>
                </form>
                <form class="" action="/author/@Model["Author"].GetId()" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn" type="submit" name="button">Delete Author</button>
                </form>
            </div>
        </div>
    </li>
</ul>
