@{
    Layout="Shared/_Layout.cshtml";
}

<h2>@Model["Book"].GetName()</h2>
@if(Model["Book"].GetAuthors().Count != 0)
{
    foreach(var author in Model["Book"].GetAuthors())
    {
        <p>@author.GetName()</p>
    }
}
else
{
    <p>There are no authors associated to this book yet</p>
}
<p>Copies: @Model["Book"].GetCopies()</p>

<div class="input-field">
    <form class="" action="/book/@Model["Book"].GetId()" method="post">
        <select name="author-id">
            <option value="" disabled selected>Add an author to this book</option>
            @foreach(var author in Model["Authors"])
            {
                <option value="@author.GetId()">@author.GetName()</option>
            }
        </select>
        <button type="submit" name="button">Add Author</button>
    </form>
</div>

<div class="delete-book">
    <form class="" action="/book/@Model["Book"].GetId()" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" name="button">Delete Book</button>
    </form>
</div>

<div class="update-book">
    <form class="" action="/book/@Model["Book"].GetId()" method="post">
        <input type="hidden" name="_method" value="PATCH">
        <input type="text" name="new-name" value="@Model["Book"].GetName()">
        <input type="number" name="new-copies" value="@Model["Book"].GetCopies()">
        <button type="submit" name="button">Update Book</button>
    </form>
</div>
