@{
    Layout="Shared/_Layout.cshtml";
}

<h2>@Model["Patron"].GetName()</h2>
<h5>Phone: @Model["Patron"].GetPhone()</h5>
<hr/>

<h5>Books Checked Out:</h5>

@if(Model["Patron Checkouts"].Count != 0)
{
    @foreach(var checkout in Model["Patron Checkouts"])
    {
        <h4><a href="/book/@checkout.GetBookId()">@checkout.GetBookName()</a></h4>
        <h5>Due Date: @checkout.GetDueDate()</h5>
        <form class="" action="/patron/@Model["Patron"].GetId()/return/@checkout.GetId()" method="post">
            <button class="btn" type="submit" name="button">Return</button>
        </form>
        <hr/>
    }
}



<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">Checkout Book</div>
    <div class="collapsible-body">
        <div class="checkout">
            <form class="" action="/patron/@Model["Patron"].GetId()" method="post">
                <select name="booklist">
                    <option value="0" disabled selected>Pick a book to checkout</option>
                    @if(Model["Books"].Count != 0)
                    {
                        @foreach(var book in Model["Books"])
                        {
                            @if(@book.GetCopies() >= 1)
                            {
                                <option value="@book.GetId()">@book.GetName()</option>
                            }
                        }
                    }
                </select>
                <label for="due-date"></label>
                <input id="due-date" type="date" name="due-date">
                <button class="btn" type="submit" name="button">Checkout</button>
            </form>
        </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header">Update Info</div>
    <div class="collapsible-body">
        <div class="update-patron">
            <form class="" action="/patron/@Model["Patron"].GetId()" method="post">
                <input type="hidden" name="_method" value="PATCH">
                <input type="text" name="new-name" value="@Model["Patron"].GetName()">
                <input type="text" name="new-phone" value="@Model["Patron"].GetPhone()">
                <button class="btn" type="submit" name="button">Update Patron</button>
            </form>
        </div>
    </div>
  </li>
</ul>
